@import "../../scss/vars";
@import "../../scss/mixin";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  z-index: 1;
}

.drawer {
  position: absolute;
  top: 9px;
  right: 0;
  max-width: 385px;
  /*height: 95vh;*/
  padding: 0 30px;
  background: $colorWhite;
  border-radius: 20px 0 0 20px;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  @media (max-width: em(420)) {
    @include adaptive-value("max-width", 385, 320, 1);
    padding: 0 10px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 30px;

    h3 {
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__buttonClosedCart {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  &__cart {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
    max-height: 85vh;
    padding: 30px 0;

    .drawer__item {
      overflow: auto;
    }
  }
  &__empty {

  }
}

.drawerList {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 325px;
  height: 75%;
  margin: 0 auto;
  overflow: auto;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    column-gap: 12px;

    @media (max-width: em(415)) {
      @include adaptive-value("padding-top", 30, 20, 1);
      @include adaptive-value("padding-right", 20, 10, 1);
      @include adaptive-value("padding-bottom", 30, 20, 1);
      @include adaptive-value("padding-left", 20, 10, 1);
    }
  }

  &__img {
    width: 85px;
    height: 55px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &__title {
    max-width: 150px;
    font-weight: 400;
  }

  &__delete {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.totalDrawer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    @media (max-width: em(420)) {
      @include adaptive-value("font-size", 16, 14, 1);

    }

    p {
      font-weight: 400;
    }

    div {
      position: relative;
      top: -4px;
      margin: 0 10px;
      flex: 1;
      border-bottom: 1px dashed $colorGainsborough;
    }

    span {
      font-weight: 600;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 18px 0;
    width: 325px;
    background-color: $colorButton;
    border-radius: 18px;
    color: $colorWhite;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    @media (max-width: em(420)) {
      margin: 0 auto;
      padding: 10px 0;
      width: 260px;
    }

    &:disabled {
      background-color: #bebebe;
      cursor: default;
      animation: button-loading 1s ease-in-out infinite;
    }

    p {
      margin-right: 60px;
      padding-left: 70px;
      @media (max-width: em(420)) {
        margin-right: 20px;
        padding-left: 30px;
      }
    }
    svg {
      width: 14px;
      height: 12px;
    }
  }
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
  padding-bottom: 30px;

  &__img {
    width: 220px;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }
  &__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: .4;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}
