@import "../../scss/vars";
@import "../../scss/mixin";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

// Drawer

.drawer {
  position: absolute;
  right: 0;
  width: 385px;
  height: 100%;
  padding: 0 30px;
  background: $colorWhite;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  &__title {
    padding-top: 32px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 29px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 122px;
    height: 774px;
    padding: 30px 0;

    .drawer__item {
      overflow: auto;
    }
  }
}

.drawerList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 325px;
  margin: 0 auto;
  overflow: auto;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $colorSmokyWhite;
    border-radius: 20px;
    padding: 30px 20px;
    column-gap: 12px;

    @media (max-width: em(415)) {
      @include adaptive-value("padding-top", 30, 20, 1);
      @include adaptive-value("padding-right", 20, 10, 1);
      @include adaptive-value("padding-bottom", 30, 20, 1);
      @include adaptive-value("padding-left", 20, 10, 1);
    }
  }

  &__img {
    width: 70px;
    height: 70px;
    margin-right: 9px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &__title {
    max-width: 150px;
    font-weight: 400;
  }

  &__closed {
    width: 32px;
    height: 32px;
  }
}

.totalDrawer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;

    p {
      font-weight: 400;
    }

    div {
      position: relative;
      top: -4px;
      margin: 0 10px;
      flex: 1;
      border-bottom: 1px dashed $colorGainsborough;
    }

    span {
      font-weight: 600;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 18px 0;
    width: 325px;
    background-color: $colorYellowishGreen;
    border-radius: 18px;
    color: $colorWhite;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    p {
      margin-right: 60px;
      padding-left: 70px;
    }
    svg {
      width: 14px;
      height: 12px;
    }
  }
}
