@import "../../scss/vars";
@import "../../scss/mixin";

.header {
  display: flex;
  justify-content: space-between;
  @include adaptive-value("padding-top", 45, 20, 1);
  @include adaptive-value("padding-bottom", 45, 20, 1);
  border-bottom: 1px solid $colorSmokyWhite;

  @media (max-width: em(620)) {
    flex-direction: column;
    row-gap: 15px;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
    @media (max-width: em(620)) {
      justify-content: flex-end;
    }
  }
}

.logoHeader {
  display: flex;
  flex-direction: column;

  &__img {
    width: 150px;
    height: 30px;
    /*@include adaptive-value("width", 60, 50, 1);
    @include adaptive-value("height", 60, 50, 1);*/
  }

  &__subtitle {
    font-weight: 400;
    @include adaptive-value("font-size", 14, 12, 1);
    color: $colorPearlLightGray;
  }
}

.menuHeader {

  &__cart {
    display: flex;
    column-gap: 10px;
    cursor: pointer;

    svg {
      width: 19px;
      height: 17px;
    }

    span {
      font-weight: 600;
      color: $colorWetAsphalt;
    }
  }

  &__favorites {
    svg {
      width: 21px;
      height: 19px;
      cursor: pointer;
    }
  }

  &__user {
    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  &__cart, &__favorites, &__user {
    transition: .5s ease;
  }

  &__cart:hover, &__favorites:hover, &__user:hover {
    transform: scale(1.3);
  }

}
