@import "../../scss/vars";
@import "../../scss/mixin";


.searchContent {
  position: relative;

  svg {
    position: absolute;
    top: 14px;
    left: 10px;
  }
  input {
    padding: 13px 13px 13px 32px;
    border: 1px solid $colorSmokyWhite;
    border-radius: 10px;
    outline: none;
    font-weight: 400;
    color: $colorSmokyWhite;

    &:active {
      opacity: .5;
    }
  }
}
