@import "fonts";
@import "libs";
@import "global";
@import "vars";
@import "mixin";

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  background: $colorWhite;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.container {
  max-width: 1080px;
  margin: 60px auto;
  @include adaptive-value("padding-right", 60, 20, 1);
  @include adaptive-value("padding-left", 60, 20, 1);
}

// Header

.header {
  display: flex;
  justify-content: space-between;
  @include adaptive-value("padding-top", 45, 20, 1);
  @include adaptive-value("padding-bottom", 45, 20, 1);
  border-bottom: 1px solid $colorSmokyWhite;

  @media (max-width: em(620)) {
    flex-direction: column;
    row-gap: 15px;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
    @media (max-width: em(620)) {
      justify-content: flex-end;
    }
  }
}

.logoHeader {
  &__img {
    @include adaptive-value("width", 80, 60, 1);
    @include adaptive-value("height", 80, 60, 1);
  }
  &__title {

  }
}

.titleLogo {
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-weight: 400;
    @include adaptive-value("font-size", 14, 12, 1);
    color: $colorPearlLightGray;
  }
}

.menuHeader {
  &__cart {
    display: flex;
    column-gap: 10px;
    img {
      width: 19px;
      height: 17px;
    }
    span {
      font-weight: 600;
      color: $colorWetAsphalt;
    }
  }

  &__favorites {
    img {
      width: 21px;
      height: 19px;
    }
  }

  &__user {
    img {
      width: 20px;
      height: 20px;
    }
  }
}

// Content

.content {
  padding-top: 40px;
  padding-bottom: 30px;
  &__title {
    padding-bottom: 30px;
    @include adaptive-value("font-size", 32, 24, 1);
    @include adaptive-value("line-height", 39, 31, 1);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-items: center;

    @media (max-width: em(1139)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: em(869)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em(600)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}

.itemContent {
  width: 210px;
  padding: 20px 29px 35px 30px;
  background: $colorWhite;
  border: 1px solid $colorSmokyWhite;
  border-radius: 40px;

  &__img {
    width: 133px;
    height: 112px;
  }

  &__title {
    font-weight: 400;
  }

  &__info {

  }
}

.infoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__price {
    p {
      padding-bottom: 2px;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      color: $colorLightGray;
    }

    span {

    }
  }

  &__img {
    width: 11px;
    height: 11px;
  }
}
