@import "libs";
@import "global";
@import "vars";
@import "mixin";

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  background: $colorWhite;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.container {
  position: relative;
  max-width: 1080px;
  margin: 30px auto;
  @include adaptive-value("padding-right", 60, 20, 1);
  @include adaptive-value("padding-left", 60, 20, 1);
}

.content {
  padding-top: 40px;
  padding-bottom: 30px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;


    @media (max-width: em(600)) {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__title {
    @include adaptive-value("font-size", 32, 24, 1);
    @include adaptive-value("line-height", 39, 31, 1);
    /*max-width: 700px;*/
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-items: center;

    @media (max-width: em(1139)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: em(869)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em(600)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.searchContent {
  position: relative;

  &__search {
    position: absolute;
    top: 14px;
    left: 10px;
  }
  input {
    padding: 13px 13px 13px 32px;
    border: 1px solid $colorSmokyWhite;
    border-radius: 10px;
    outline: none;
    font-weight: 400;

    &:active {
      opacity: .5;
    }
  }
  &__close {
    position: absolute;
    top: 4px;
    right: 3px;
    cursor: pointer;
  }
}
